header img {
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
/* Pourquoi cela fait du flex alors que je l'applique à l'ul et pas au container lui-même ?*/
.containeur {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 75%;
}


.containeur img {
    width: 150px;
    height: 90%;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}