

header {
    display: flex;
    height: 150px;
    width: 90%;
    margin: auto;
 }

.logo_container {
    height: 100%;
    width: 128px;
    height: 128px;
}

#logo {
   ;
}

nav {
    ;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    
    margin: 30px 0;
    list-style: none;
    justify-content: space-between;
}

#baseline {
    display: flex;
}

#baseline img {
    justify-content: center;
}

input {
    flex-grow: 0;
}

logo {
    ;

}
.social {
   display: flex;
    flex-direction: row;
    list-style: none;
}

nav  {
    display: flex;

}


#cercle_tripode {
    max-width: 100%;
    max-height: 100%;
}

#cercle_tripode2 { 
    display: none;
    max-width: 100%;
    max-height: 100%;
  }

.logo_container:hover #cercle_tripode {
    display : none;
  }

.logo_container:hover #cercle_tripode2 {
    display : block;
  }





@keyframes slider {
    0% { left: 0%; }
    25% { left: -100%; }
    50% { left: -200%; }
    75% { left: -300%; }
    100% {left: -400%; }
    }
    

    div#slider { 
        width: 90%;
        height: 440px;
        overflow: hidden;
        margin: auto;
     }

     div#slider figure { 
        position: relative;
        overflow: hidden;
        width: 400%;
        margin: auto;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 10s slider infinite; 
      }

    div#slider figure img { 
        width: 1160px; 
        height: 440px; 
        float: left;
     }
    
    
/* 
Pourquoi cela fait du flex alors que je l'applique à l'ul et pas au container lui-même ?
C'est ce qui me bloquait avant : j'appliquais flex à containeur img 
*/


.containeur {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}


/*
.containeur {
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.25fr;
    margin: auto;
}
*/

.containeur img {
    width: 150px;
    padding: 5px;
    margin: 30px;
}

footer {
    text-align: center;
    margin-top: 10px;
}
