

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 110px;
    width: 70%;
    margin: auto;
 }

.cercles {
    display: block;
    width: 128px;
    height: 128px;
    z-index: 1;
}

#cercle_tripode {
    max-width: 100%;
    max-height: 100%;
}

#cercle_tripode2 { 
    display: none;
    max-width: 100%;
    max-height: 100%;
  }

.cercles:hover #cercle_tripode {
    display : none;
  }

.cercles:hover #cercle_tripode2 {
    display : block;
  }
  
#search {
    display: flex;
    justify-content: flex-end;
}

input {
    font-family: ubuntu-condensed, sans-serif;
    max-width: 20Vh;
}

button {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 0 5px 0 5px;
    font-family: ubuntu-condensed, sans-serif;
}

#logo_menu {
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-end;
   align-items: center;
}

#search_social {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    font-family: "ubuntu", sans-serif;
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    min-width: 420px;
    
}

nav a {
    color: rgb(0, 0, 0);
}

nav:hover a {
    text-decoration: none
    color: pink;
    }

#sous-catalogue ul {
    display: none;

}

#sous-catalogue:hover ul {
    display: block;
    flex-flow: column nowrap;
    width: 180px;
    z-index: 
}

#sous-events {
    display: none;
}

#sous-maison {
    display: none;
   
}



#baseline {
    display: flex;
    justify-content: center;
}

#main-logo {
    margin-top: 10px;
}

logo {
    margin-top: 15px;
    flex: 1;

}
.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    flex-basis: min-content;

}

.social img {
    height: 30px;
}


nav  {
    display: flex;

}







@keyframes slider {
    25%  { left: 0%; }
    50%  { left: -100%; }
    75% { left: -100%;}
    100% { left: -200%; }
}
    
    div#slider { 
        width: 90%;
        height: 440px;
        overflow: hidden;
        margin: auto;
     }

     div#slider figure { 
        position: relative;
        overflow: hidden;
        width: 400%;
        margin: auto;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s slider alternate infinite; 
      }

    div#slider figure img { 
        width: 1160px; 
        height: 440px; 
        float: left;
        
     }

.containeur {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}


.containeur img {
    width: 150px;
    padding: 5px;
    margin: 30px;
}
            
            .containeur img:hover {
                    opacity: 0.3;
                    background: pink;
                    /*background: rgb(175, 169, 169);*/
            }

            /*
            * {
                margin: 0;
                padding: 0;
                border: 0;
            }
                
            html {
                font-family: "ubuntu-condensed", arial, sans-serif;
            }
            
                    /* relevant styles */
            /*
            .view {
                position: relative;
                max-height: 100%;
                width: 150px;
            }
            
            .mask {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #E21E79;
                color: #fff;
                visibility: hidden;
                opacity: 0.7;
                display: flex;
                align-items: center;
                justify-content: center;
            
            
                /* transition effect. not necessary */
            /*    transition: opacity .2s, visibility .2s;
            }
            
            .view:hover .mask {
                visibility: visible;
                opacity: 0.6;
            }
            
            .titre {
                transition: .2s;
                transform: translateY(1em);
            }
            
            .view:hover .titre {
                transform: translateY(0);
            }

            */
footer {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
    font-family: "ubuntu-condensed", sans-serif;
    height: 45px;
}

